/* top background section styling */

.wrapper-bg {
  display: flex;
}

.features-bg-text {
  width: 42%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10.8125rem 0;
  background-color: var(--pure-black);
  color: var(--pure-white);
}

.feat::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 6px;
  background-image: var(--accent-gradient);
  top: 0;
  left: 0;
}

.feat {
  /* text-align: left; */
  padding: 0 6.9375rem 0 6.625rem;
  /* width: 24.1875rem; */
  position: relative;
}

.feat h1 {
  margin-bottom: 1.3125rem;
}

.img-bg {
  width: 58%;
}

.wrapper-bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 768px) {
  .features-bg-text {
    width: 64%;
  }

  .img-bg {
    width: 36%;
  }
}

/* mobile */

@media only screen and (max-width: 585px) {
  .wrapper-bg {
    flex-direction: column-reverse;
  }

  .features-bg-text {
    width: 100%;
    padding: 4.5rem 0;
  }

  .img-bg {
    width: 100%;
    display: block;
  }

  .img-bg img {
    display: block;
  }

  .feat {
    padding-left: 1.78125rem;
    padding-right: 1.78125rem;
  }

  .feat::before {
    content: "";
    position: absolute;
    height: 6px;
    width: 34%;
    background-image: var(--accent-gradient);
    top: -4.5rem;
    left: 2.0625rem;
  }
}

/* features section styling */

.features-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.875rem;
  row-gap: 6.5rem;
  text-align: center;
  padding: 7.5rem 10.3125rem;
}

@media only screen and (max-width: 768px) {
  .features-section {
    grid-template-columns: 1fr 1fr;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    row-gap: 4.5rem;
  }
}

/* mobile */
@media only screen and (max-width: 585px) {
  .features-section {
    grid-template-columns: 1fr;
    padding: 5rem 2rem;
    row-gap: 3.5rem;
  }
}

.feature-img {
  padding-bottom: 3rem;
}

.feature-img.infinity {
  padding-top: 1.125rem;
  padding-bottom: 4.125rem;
}

.features-section h3 {
  margin-bottom: 1rem;
}

/* prefooter section */

.prefooter {
  background-image: url(./assets/beta-background-image.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--pure-white);
  display: flex;
  padding: 4.25rem 10.3125rem;
  position: relative;
}

@media only screen and (max-width: 768px) {
  .prefooter {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

.prefooter::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 6px;
  background-image: var(--accent-gradient);
  top: 0;
  left: 0;
}

.prefooter div {
  width: 100%;
}

.prefooter .btn-pref {
  display: flex;
  justify-content: flex-end;
}
.prefooter button {
  border: none;
  background-color: transparent;
  color: var(--pure-white);
}

.prefooter button:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 585px) {
  .prefooter {
    flex-direction: column;
    padding: 4rem 2.03125rem;
  }

  .prefooter h1 {
    margin-bottom: 1.5rem;
  }

  .prefooter .btn-pref {
    justify-content: flex-start;
  }

  .prefooter::before {
    content: "";
    position: absolute;
    height: 6px;
    width: 34%;
    background-image: var(--accent-gradient);
    /* top: -4.5rem; */
    left: 2.0625rem;
  }
}
