/* top background */

.wrapper-bg {
  display: flex;
  margin-bottom: 7.5rem;
}

.features-bg-text {
  width: 42%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10.8125rem 0;
  background-color: var(--pure-black);
  color: var(--pure-white);
}

.feat::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 6px;
  background-image: var(--accent-gradient);
  top: 0;
  left: 0;
}

.feat {
  /* text-align: left; */
  padding: 0 6.9375rem 0 6.625rem;
  /* width: 24.1875rem; */
  position: relative;
}

.feat h1 {
  margin-bottom: 1.3125rem;
}

.img-bg {
  width: 58%;
}

.wrapper-bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 768px) {
  .features-bg-text {
    width: 64%;
  }

  .img-bg {
    width: 36%;
  }
}

@media only screen and (max-width: 585px) {
  .wrapper-bg {
    flex-direction: column-reverse;
  }

  .features-bg-text {
    width: 100%;
    padding: 4.5rem 0;
  }

  .img-bg {
    width: 100%;
    display: block;
  }

  .img-bg img {
    display: block;
  }

  .feat {
    padding-left: 1.78125rem;
    padding-right: 1.78125rem;
  }

  .feat::before {
    content: "";
    position: absolute;
    height: 6px;
    width: 34%;
    background-image: var(--accent-gradient);
    top: -4.5rem;
    left: 2.0625rem;
  }
}

/* prices section */

.price-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.5625rem;
  letter-spacing: 0;
  gap: 2rem;
  margin-bottom: 5rem;
  cursor: pointer;
}

.btn-slide {
  width: 64px;
  height: 32px;
  border-radius: 30px;
  z-index: 0;
  display: flex;
  align-items: center;
  background-color: var(--light-grey);
}

.btn-circle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin: 4px;
  z-index: 1;
  background-color: var(--pure-black);
  transition: transform 0.1s ease;
}

.price-cards {
  display: flex;
  margin: 0 10.3125rem 10rem 10.3125rem;
  gap: 1.875rem;
  text-align: center;
  z-index: 0;
}

@media only screen and (max-width: 768px) {
  .price-cards {
    flex-direction: column;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    margin: 0;
    margin-bottom: 7rem;
  }
}

.price-cards div {
  padding: 3.5rem 2.5rem 2.5rem 2.5rem;
  background-color: var(--light-grey);
  max-width: 33.3%;
}

@media only screen and (max-width: 768px) {
  .price-cards div {
    position: relative;
    max-width: 100%;
    text-align: left;
    padding-right: 23.6875rem;
  }

  .absolute {
    position: absolute;
    top: 3.5rem;
    right: 2.5rem;
  }

  .absolute:last-of-type {
    top: 6rem;
    right: 3.25rem;
  }
}

.price-cards div > h2 {
  margin-bottom: 1.125rem;
}

.price-cards p {
  margin-bottom: 2.5rem;
  color: #686666;
}

.price-cards .price {
  margin-bottom: 0;
  color: var(--pure-black);
}

.price {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3rem;
  letter-spacing: 0.260625rem;
  text-transform: uppercase;
  margin-bottom: 0;
  color: #000;
}

.price-cards div > button {
  padding: 0.75rem 0;
  width: 100%;
  font: inherit;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 2;
  text-transform: uppercase;
  border: 1px solid var(--pure-black);
  color: var(--pure-white);
  background-color: var(--pure-black);
  transition: background-color 0.1s ease-in;
}

.price-cards div > button:hover {
  background-color: rgb(181, 180, 180);
  border: none;
  color: var(--pure-black);
}

.price-cards .highlight {
  position: relative;
  /* padding-top: 7.5rem;
  padding-bottom: 6.5rem; */
  color: var(--pure-white);
  background-color: var(--pure-black);
  z-index: 1;
}

.highlight .price {
  color: var(--pure-white);
}

.price-cards .highlight button {
  color: var(--pure-black);
  background-color: var(--light-grey);
  border: none;
  transition: background-color 0.1s ease-in;
}

.price-cards .highlight button:hover {
  color: var(--pure-black);
  background-color: rgb(181, 180, 180);
}

.price-cards .highlight::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 6px;
  background-image: var(--accent-gradient);
  top: 0;
  left: 0;
}

@media only screen and (max-width: 768px) {
  .price-cards .highlight::before {
    width: 6px;
    height: 100%;
  }
}

@media only screen and (max-width: 585px) {
  .price-cards .highlight::before {
    width: 100%;
    height: 6px;
  }

  .price-wrap {
    margin-bottom: 2.5rem;
  }

  .price-cards {
    padding: 0 1.75rem 0 1.75rem;
    margin-bottom: 4rem;
    gap: 1.5rem;
  }

  .price-cards div {
    position: relative;
    max-width: 100%;
    text-align: center;
    padding: 3.5rem 1.375rem 2.5rem 1.375rem;
  }

  .price-cards div button {
    width: 77%;
  }

  .absolute {
    position: static;
  }
}

.compare {
  text-align: center;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3rem;
  letter-spacing: 0.260625rem;
  text-transform: uppercase;
}

.table-desktop {
  text-align: center;
  margin: 3.5rem auto 10rem auto;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 2;
  text-transform: uppercase;
  width: 51%;
  border-collapse: collapse;
  table-layout: fixed;
}

@media only screen and (max-width: 768px) {
  .table-desktop {
    width: 89.7%;
  }
}

.table-desktop td {
  padding: 1.5rem 0;
  border-bottom: solid 1px var(--light-grey);
}

.table-desktop td:first-of-type {
  text-align: left;
  padding-left: 1.5rem;
  width: 40%;
}

.table-desktop th {
  border-bottom: solid 1px var(--pure-black);
  padding: 1.5rem 0;
}

.table-desktop th:first-of-type {
  text-align: left;
  padding-left: 1.5rem;
  width: 40%;
}

@media only screen and (max-width: 585px) {
  .table-desktop {
    display: none;
  }

  .compare {
    display: none;
  }

  .mobile-table {
    text-align: left;
    margin: 1.75rem auto 1.75rem auto;
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 1rem;
    letter-spacing: 2;
    text-transform: uppercase;
    width: 85%;
    border-collapse: collapse;
    table-layout: fixed;
  }
  .mobile-table .td-rows td {
    padding-top: 1.03125rem;
    padding-bottom: 0.5rem;
    color: rgba(170, 167, 167, 0.709);
    font-size: 0.625rem;
  }

  .mobile-table th {
    padding-top: 1.46875rem;
  }

  .mobile-table .first-row-heading {
    padding-top: 0;
    padding-bottom: 1.4375rem;
    border-bottom: solid 1px var(--pure-black);
  }

  .mobile-table .correct-rows td {
    padding-bottom: 1.5rem;
    border-bottom: 1px solid var(--light-grey);
  }
}

/* prefooter section */

.prefooter {
  background-image: url(./assets/beta-background-image.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--pure-white);
  display: flex;
  padding: 4.25rem 10.3125rem;
  position: relative;
}

@media only screen and (max-width: 768px) {
  .prefooter {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

.prefooter::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 6px;
  background-image: var(--accent-gradient);
  top: 0;
  left: 0;
}

.prefooter div {
  width: 100%;
}

.prefooter .btn-pref {
  display: flex;
  justify-content: flex-end;
}
.prefooter button {
  border: none;
  background-color: transparent;
  color: var(--pure-white);
}

.prefooter button:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 585px) {
  .prefooter {
    flex-direction: column;
    padding: 4rem 2.03125rem;
  }

  .prefooter h1 {
    margin-bottom: 1.5rem;
  }

  .prefooter .btn-pref {
    justify-content: flex-start;
  }

  .prefooter::before {
    content: "";
    position: absolute;
    height: 6px;
    width: 34%;
    background-image: var(--accent-gradient);
    /* top: -4.5rem; */
    left: 2.0625rem;
  }
}
