/* background image */

.background-section {
  /* width: 100%; */
  /* height: 40.625rem; */
  background-image: url(./assets/moon-above-the-mountain-range.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.background-section button {
  border: none;
  background-color: transparent;
  color: var(--pure-white);
}

.background-section button:hover {
  text-decoration: underline;
}

.wrapper {
  padding: 7.625rem 50rem 7.625rem 7.625rem;
  color: var(--pure-white);
}

.background-section {
  background-position: 70% 10%;
  background-size: cover;
}

@media only screen and (max-width: 1150px) {
  .wrapper {
    padding: 5.625rem 35rem 5.625rem 5.625rem;
  }
  .background-section {
    background-position: 70% 10%;
    background-size: cover;
  }
}

.background-section h1 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.background-img {
  /* width: 27%; */
}

.background-img .feature-author {
  display: flex;
  margin-bottom: 1.5rem;
  font-size: 0.8125rem;
}

.background-img .feature-author p:first-child {
  color: rgba(255, 255, 255, 0.75);
}

.background-img .feature-author p:last-child {
  color: rgba(255, 255, 255);
  margin-left: 0.5625rem;
}

.wrapper p:nth-child(4) {
  margin-bottom: 1.5rem;
  color: rgba(255, 255, 255, 0.75);
}

@media only screen and (max-width: 960px) {
  .wrapper {
    padding: 3.625rem 25.625rem 3.625rem 3.625rem;
  }

  .background-section {
    background-position: 70% 10%;
    background-size: cover;
  }
}

@media only screen and (max-width: 760px) {
  .wrapper {
    padding-right: 15rem;
  }
}

@media only screen and (max-width: 585px) {
  /* .background-section {
    height: 82vw;
  } */

  .wrapper {
    padding: 1.625rem 1.625rem 3.625rem 1.625rem;
  }

  .background-section {
    padding-top: 480px;
    background-position: 70% 10%;
    background-size: auto 400px;
    background-color: #000;
  }
}

/* slider section styling */

.hero-slider img {
  object-fit: cover;
  max-width: 100%;
  height: 100%;
}

.hero-slider {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media only screen and (max-width: 875px) {
  .hero-slider {
    grid-template-columns: 1fr 1fr;
  }
  .hero-slider li a > img {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .hero-slider {
    grid-template-columns: 1fr 1fr;
  }
  .hero-slider li a > img {
    width: 100%;
  }
}

@media only screen and (max-width: 585px) {
  .hero-slider {
    grid-template-columns: 1fr;
  }
}

.hero-slider li {
  position: relative;
  transition: transform 0.1s ease-in 0.1s;
}

.hero-slider li:hover::before {
  content: "";
  width: 100%;
  height: 6px;
  background-image: var(--accent-gradient);
  position: absolute;
  bottom: 0;
}

.hero-slider li:hover {
  transform: translateY(-1.5rem);
}

.story-author {
  position: absolute;
  bottom: 0;
  color: var(--pure-white);
  padding: 0 2.5rem 2.5rem 2.5rem;
  width: 100%;
}

.story-author p {
  border-bottom: solid 1px #ffffff26;
  padding-bottom: 1rem;
}

.story-author button {
  border: none;
  background-color: transparent;
  color: var(--pure-white);
  padding-top: 1.25rem;
  width: 100%;
  text-align: left;
}

.story-author .arrows {
  float: right;
}
