/* first section styling */

.first-section {
  display: flex;
  max-height: 40.625em;
}

.first-section > .bg-color {
  background-color: var(--pure-black);
  width: 43%;
  padding: 10.8125rem 0;
  color: var(--pure-white);
}

.first-section .black-background {
  padding-left: 7rem;
  padding-right: 7rem;
  position: relative;
}

.first-section .black-background::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 6px;
  background-image: var(--accent-gradient);
  top: 0;
  left: 0;
}

.black-background p {
  margin-top: 1.3125rem;
  margin-bottom: 3rem;
  color: var(--light-grey);
}

.black-background > button {
  border: none;
  background-color: var(--pure-black);
  color: var(--pure-white);
}

.black-background > button:hover {
  text-decoration: underline;
}

.first-section > .bg-images {
  width: 57%;
}

.first-section > .bg-images > img {
  object-fit: cover;
  max-width: 100%;
  height: 100%;
}

/* second and third section styling */

.hero-section .white-bg-hero {
  width: 43%;
  color: var(--pure-black);
  text-align: start;
  padding: 8.4375rem 6.9375rem;
}

.hero-section .white-bg-hero h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 4.17px;
  text-transform: uppercase;
}

.hero-section .white-bg-hero p {
  margin-top: 1.3125rem;
  margin-bottom: 3rem;
  color: gray;
}

.hero-section .white-bg-hero button {
  border: none;
  background-color: var(--pure-white);
  transition: text-decoration;
}

.hero-section .white-bg-hero button:hover {
  text-decoration: underline;
}

.hero-section {
  display: flex;
  max-height: 37.5em;
}

.hero-section .bg-images {
  width: 57%;
}

.hero-section img {
  object-fit: cover;
  max-width: 100%;
  height: 100%;
}

/* slider section styling */

.hero-slider img {
  object-fit: cover;
  max-width: 100%;
  height: 100%;
}

.hero-slider {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.hero-slider li {
  position: relative;
  transition: transform 0.1s ease-in 0.1s;
}

.hero-slider li:hover::before {
  content: "";
  width: 100%;
  height: 6px;
  background-image: var(--accent-gradient);
  position: absolute;
  bottom: 0;
}

.hero-slider li:hover {
  transform: translateY(-1.5rem);
}

.story-author {
  position: absolute;
  bottom: 0;
  color: var(--pure-white);
  padding: 0 2.5rem 2.5rem 2.5rem;
  width: 100%;
}

.story-author p {
  border-bottom: solid 1px #ffffff26;
  padding-bottom: 1rem;
}

.story-author button {
  border: none;
  background-color: transparent;
  color: var(--pure-white);
  padding-top: 1.25rem;
  width: 100%;
  text-align: left;
}

.story-author .arrows {
  float: right;
}

/* features section styling */

.features-section {
  display: flex;
  text-align: center;
  padding: 7.5rem 10.3125rem;
  gap: 1.875rem;
}

.feature-img {
  padding-bottom: 3rem;
}

.feature-img.infinity {
  padding-top: 1.125rem;
  padding-bottom: 4.125rem;
}

.features-section h3 {
  margin-bottom: 1rem;
}
