/* first section styling */

.first-section {
  display: flex;
}

.first-section > .bg-color {
  background-color: var(--pure-black);
  width: 43%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10.8125rem 0;
  color: var(--pure-white);
}

.first-section .black-background {
  padding-left: 7rem;
  padding-right: 6.9375rem;
  /* width: 24.1875rem; */
  position: relative;
  overflow: hidden;
}

.first-section .black-background::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 6px;
  background-image: var(--accent-gradient);
  top: 0;
  left: 0;
}

.black-background p {
  margin-top: 1.3125rem;
  margin-bottom: 3rem;
  color: var(--light-grey);
}

.black-background > button {
  border: none;
  background-color: var(--pure-black);
  color: var(--pure-white);
}

.black-background > button:hover {
  text-decoration: underline;
}

.first-section > .bg-images {
  width: 57%;
}

.first-section > .bg-images > img {
  object-fit: cover;
  max-width: 100%;
  height: 100%;
}

/* sizes < 768px */

@media only screen and (max-width: 768px) {
  .first-section > .bg-color {
    width: 64%;
  }

  .first-section > .bg-images {
    width: 36%;
  }
}

/* mobile */
@media only screen and (max-width: 585px) {
  .first-section {
    flex-direction: column-reverse;
  }
  .first-section > .bg-color {
    width: 100%;
    padding: 4.5rem 0;
  }
  .first-section > .bg-images {
    width: 100%;
  }
  .first-section > .bg-images > img {
    display: block;
  }
  .first-section .black-background {
    padding: 0 1.5rem 0 2.0625rem;
    /* width: 24.1875rem; */
  }

  .first-section .black-background::before {
    content: "";
    position: absolute;
    height: 6px;
    width: 34%;
    background-image: var(--accent-gradient);
    top: -4.5rem;
    left: 2.0625rem;
  }
}

/* second and third section styling */
.hero-bg {
  width: 43%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 8.4375rem 0;
}

.hero-section .white-bg-hero {
  color: var(--pure-black);
  text-align: left;
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
  /* padding: 0 6.9375rem; */
  padding: 0 6.9375rem;
}

.hero-section .white-bg-hero h2 {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3rem;
  letter-spacing: 0.260625rem;
  text-transform: uppercase;
}

.hero-section .white-bg-hero p {
  margin-top: 1.3125rem;
  margin-bottom: 3rem;
  color: gray;
}

.hero-section .white-bg-hero button {
  border: none;
  background-color: var(--pure-white);
  transition: text-decoration;
  margin-right: auto;
}

.hero-section .white-bg-hero button:hover {
  text-decoration: underline;
}

.hero-section {
  display: flex;
}

.hero-section .bg-images {
  width: 57%;
}

.hero-section img {
  object-fit: cover;
  max-width: 100%;
  height: 100%;
}

/* mobile */
@media only screen and (max-width: 585px) {
  section:nth-child(2) {
    flex-direction: column;
  }
  section:nth-child(3) {
    flex-direction: column-reverse;
  }

  .hero-section .hero-bg {
    width: 100%;
  }

  .hero-section .white-bg-hero {
    padding: 0 1.5rem 0 2.0625rem;
  }

  .hero-section .bg-images {
    width: 100%;
  }
  .hero-section .bg-images img {
    display: block;
  }
}

/* slider section styling */

.hero-slider img {
  object-fit: cover;
  max-width: 100%;
  height: 100%;
}

.hero-slider {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media only screen and (max-width: 768px) {
  .hero-slider {
    grid-template-columns: 1fr 1fr;
  }
  .hero-slider li a > img {
    width: 100%;
  }
}
/* mobile */
@media only screen and (max-width: 585px) {
  .hero-slider {
    grid-template-columns: 1fr;
  }
}

.hero-slider li {
  position: relative;
  transition: transform 0.1s ease-in 0.1s;
}

.hero-slider li:hover::before {
  content: "";
  width: 100%;
  height: 6px;
  background-image: var(--accent-gradient);
  position: absolute;
  bottom: 0;
}

.hero-slider li:hover {
  transform: translateY(-1.5rem);
}

.story-author {
  position: absolute;
  bottom: 0;
  color: var(--pure-white);
  padding: 0 2.5rem 2.5rem 2.5rem;
  width: 100%;
}

.story-author p {
  border-bottom: solid 1px #ffffff26;
  padding-bottom: 1rem;
}

.story-author button {
  border: none;
  background-color: transparent;
  color: var(--pure-white);
  padding-top: 1.25rem;
  width: 100%;
  text-align: left;
}

.story-author .arrows {
  float: right;
}

/* features section styling */

.features-section {
  display: flex;
  text-align: center;
  padding: 7.5rem 10.3125rem;
  gap: 1.875rem;
}

@media only screen and (max-width: 768px) {
  .features-section {
    flex-direction: column;
  }
}

.feature-img {
  padding-bottom: 3rem;
}

.feature-img.infinity {
  padding-top: 1.125rem;
  padding-bottom: 4.125rem;
}

.features-section h3 {
  margin-bottom: 1rem;
}

/* mobile */
@media only screen and (max-width: 585px) {
  .features-section {
    padding: 5rem 2rem;
  }
}
